mixin workItem(props)
  article(data-component='work-item')
    .example
      each m in props.media
        #{m.type}&attributes(m.attributes)
    footer
      h3
        a(href=props.url, target='_blank')!= props.title
      if (props.blurb)
        p!=props.blurb
      h4!='Technologies used:'
      ul.tag-list
        each t in props.tags
          li.tag
            span!=t.text
